<form class="d-flex flex-column m-3" #addNewBreedForm="ngForm">
  <app-input
    *ngFor="let field of addNewBreedFormModel"
    [name]="field.name"
    [inputLabel]="field.inputLabel"
    [placeholder]="field.placeholder"
    [required]="field.required"
    ngModel />
</form>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    [disabled]="!addNewBreedForm.valid"
    data-bs-dismiss="modal"
    (click)="onSubmit(addNewBreedForm)">
    Add New Breed
  </button>
</div>
