<div
  class="mb-3"
  [ngClass]="{ 'was-validated': controlDir.control?.valid && required }">
  <label *ngIf="inputLabel"> {{ inputLabel }} </label>
  <input
    type="text"
    (input)="onChange($any($event.target).value)"
    (blur)="onTouched(); blur.emit()"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [required]="required"
    class="form-control"
    [ngClass]="{
      'is-invalid': controlDir.control?.touched && !controlDir.control?.valid
    }" />
  <div class="invalid-feedback">This field is required!</div>
</div>
