<form [formGroup]="form" class="d-flex flex-column">
  <label for="breed-name">Breed Name: </label>
  <input id="breed-name" type="text" formControlName="name" required />

  <label for="bred-for">Breed for: </label>
  <input id="bred-for" type="text" formControlName="bred_for" />

  <label for="breed-life-span">Life span: </label>
  <input id="breed-life-span" type="text" formControlName="life_span" />

  <label for="breed-temperament">Temperament: </label>
  <input id="breed-temperament" type="text" formControlName="temperament" />

  <label for="breed-imageUrl">Image: </label>
  <input id="breed-imageUrl" type="text" formControlName="imageUrl" />

  <label for="breed-weight">Weight: </label>
  <input id="breed-weight" type="text" formControlName="weight" />

  <label for="breed-height">Height: </label>
  <input id="breed-height" type="text" formControlName="height" />
</form>
