<div class="breed-card card m-3" style="width: 18rem">
  <img
    [src]="breed.image.url"
    class="breed-card-img card-img-top"
    [alt]="breed.name" />
  <div class="card-body">
    <h5 class="card-title">{{ breed.name }}</h5>
    <div>{{ breed.bred_for }}</div>
    <div>
      <b> Origin: </b>
      {{ breed.origin || '-' }}
    </div>
    <div>
      <b>Group:</b>
      {{ breed.breed_group || '-' }}
    </div>
    <div>
      <b>Temperament:</b>
      {{ breed.temperament }}
    </div>
    <div>
      <b>Life span:</b>
      {{ breed.life_span }} average
    </div>
    <div>
      <b>Weight:</b>
      {{ breed.weight.metric }} kgs
    </div>
    <div>
      <b>Height:</b>
      {{ breed.height.metric }} cm at the withers
    </div>
  </div>
</div>
