<button class="btn btn-lg btn-outline-primary" (click)="open(modal)">
  {{ openModalButtonText }}
</button>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modalLabel">
      {{ modalHeader }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      {{ closeButtonText }}
    </button>
  </div>
</ng-template>
